<% provide(:title, "Top Page") %>

<% if user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="top_title">
      <h1 class="display-1">Ride on</h1>
      <h2 class="display-6 top_text">気軽にサイクリングを企画、参加することができるアプリです。</h2>
      <h2 class="display-6 top_text"><u>Ride onの簡単な使い方</u></h2>
      <div class="dis_img_container">
      <table>
        <tr>
          <td><i class="fas fa-map-marked-alt fa-9x dis_img_one"></i>
          <td><i class="fas fa-users fa-9x dis_img_one"></i>
          <td><i class="fas fa-bicycle fa-9x dis_img_one"></i>
        </tr>
        <tr>
          <td class="p_text top_text">まずは条件を決めてサイクリングイベント<br>を企画しましょう</td>
          <td class="p_text top_text">参加者とコメントで<br>やりとりができます</td>
          <td class="p_text top_text">地図情報の場所に集まって<br>一緒にサイクリング！</td>
        </tr>
      </table>
      </div>
      <div class="bg-w-content">
        <div class="app_contents row mt-5">
          <div class="app_contents_img">
            <img class="top_img" src="/assets/post_ride.png" alt="投稿画面" width="300" height="300">
          </div>
          <div class="app_discript">
            <h4><strong>○サイクリングを企画しよう！</strong></h4>
            <p class="badge badge-secondary">タイトルを入力</p>　<i class="far fa-arrow-alt-circle-right"></i>　<p class="badge badge-secondary">開催日時を決定</p><br>
            <p class="badge badge-secondary">走行距離を選択</p>　<i class="far fa-arrow-alt-circle-right"></i>　<p class="badge badge-secondary">参加条件を選択</p><br>
            <p class="badge badge-secondary">コメントを入力</p>　<i class="far fa-arrow-alt-circle-right"></i>　<p class="badge badge-secondary">集合場所を入力</p><br>
            <i class="far fa-arrow-alt-circle-right"></i>　<p class="badge badge-primary posting">投稿！</p>
          </div>
        </div>
        <hr>
        <div class="app_contents row mt-5">
          <div class="app_contents_img">
            <img class="top_img" src="/assets/rideindex.png" alt="投稿画面" width="200" height="270">
          </div>
          <div class="app_discript">
            <h4><strong>○企画されたサイクリング一覧を確認</strong></h4>
            <p>条件に合う練習会があれば<i class="fas fa-user-plus "></i>ボタンを押して参加表明しましょう。</p>
            <p>参加予定の練習会には<i class="fas fa-users"></i>マークがつきます。</p>
          </div>
        </div>
        <div class="app_contents row mt-5">
          <div class="app_contents_img">
            <img class="top_img" src="/assets/rideshow.png" alt="投稿画面" width="250" height="270">
          </div>
          <div class="app_discript">
            <h4><strong>○練習会詳細画面</strong></h4>
            <p>詳細画面では<i class="fas fa-road">走行距離</i>や<i class="fas fa-exclamation-triangle">参加条件</i>が確認できます。</p>
            <p><i class="fas fa-map-marked-alt">集合場所</i>もGoogle Mapで確認できます！</p>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="top_title">
      <h1 class="display-1">Ride on</h1>
      <h2 class="display-6 top_text">気軽にサイクリングを企画、参加することができるアプリです。</h2>
      <h2 class="display-6 top_text"><u>Ride onの簡単な使い方</u></h2>
      <div class="dis_img_container">
      <table>
        <tr>
          <td><i class="fas fa-map-marked-alt fa-9x dis_img_one"></i>
          <td><i class="fas fa-users fa-9x dis_img_one"></i>
          <td><i class="fas fa-bicycle fa-9x dis_img_one"></i>
        </tr>
        <tr>
          <td class="p_text">まずは条件を決めてサイクリングイベント<br>を企画しましょう</td>
          <td class="p_text">参加者とコメントで<br>やりとりができます</td>
          <td class="p_text">地図情報の場所に集まって<br>一緒にサイクリング！</td>
        </tr>
      </table>
      </div>
    <a class="login_btn" href="/users/sign_in"><button type="button" class="btn btn-primary btn-lg btn-block login_btn">ログインする</button></a>
    <a href="/users/sign_in"><button type="button" class="btn btn-secondary btn-lg btn-block my-3">新規登録</button></a>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-warning btn-lg btn-block my-3", method: :post %>
  </div>
<% end %>
