<% provide(:title, "Top Page") %>

<% if user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="top_title">
      <h1 class="display-1">Ride on</h1>
      <h2 class="display-6 top_text">気軽にサイクリング仲間とマッチングできるアプリです。</h2>
      <h3 class="display-6 top_text">あなたがガイドになってお気に入りのコースを案内したり</h3>
      <h3 class="display-6 top_text">地域のライドを探して参加 <i class="fas fa-user-plus"></i> することもできます！</h3>
      <h2 class="display-6 top_text"><u>Ride onの簡単な使い方</u></h2>
      <div class="dis_img_container">
      <table>
        <tr>
          <td><i class="fas fa-map-marked-alt fa-9x dis_img_one"></i>
          <td><i class="fas fa-users fa-9x dis_img_one"></i>
          <td><i class="fas fa-bicycle fa-9x dis_img_one"></i>
        </tr>
        <tr>
          <td class="p_text top_text">まずはサイクリングを企画するか<br>参加したいライドを探しましょう<br> </td>
          <td class="p_text top_text">企画者は参加者を待ちます<br>参加希望の方は参加ボタン<br>を押しましょう</td>
          <td class="p_text top_text">あとは集合場所に集まって<br>サイクリングを楽しみましょう！</td>
        </tr>
      </table>
      </div>
      <div class="bg-w-content">
        <div class="app_contents row mt-5">
          <div class="app_contents_img">
            <img class="top_img" src="/assets/post_ride.png" alt="投稿画面" width="300" height="300">
          </div>
          <div class="app_discript">
            <h4><strong>○サイクリングを企画しよう！</strong></h4>
            <p>企画者は左上の投稿ボタンからライドを投稿しましょう！</p>
            <p>参加者はライド一覧から気になる企画を探してみてください。</p>
            <!-- <p class="badge badge-secondary">タイトルを入力</p>　<i class="far fa-arrow-alt-circle-right"></i>　<p class="badge badge-secondary">開催日時を決定</p><br>
            <p class="badge badge-secondary">走行距離を選択</p>　<i class="far fa-arrow-alt-circle-right"></i>　<p class="badge badge-secondary">参加条件を選択</p><br>
            <p class="badge badge-secondary">コメントを入力</p>　<i class="far fa-arrow-alt-circle-right"></i>　<p class="badge badge-secondary">集合場所を入力</p><br>
            <i class="far fa-arrow-alt-circle-right"></i>　<p class="badge badge-primary posting">投稿！</p> -->
          </div>
        </div>
        <hr>
        <div class="app_contents row mt-5">
          <div class="app_contents_img">
            <img class="top_img" src="/assets/rideindex.png" alt="投稿画面" width="350" height="270">
          </div>
          <div class="app_discript">
            <h4><strong>○企画されたサイクリング一覧を確認</strong></h4>
            <p>条件に合う練習会があれば<i class="fas fa-user-plus "></i>ボタンを押して参加表明しましょう。</p>
            <p>参加予定の練習会には<i class="fas fa-bicycle"> 参加</i>マークがつきます。</p>
          </div>
        </div>
        <div class="app_contents row mt-5">
          <div class="app_contents_img">
            <img class="top_img" src="/assets/rideshow.png" alt="投稿画面" width="350" height="270">
          </div>
          <div class="app_discript">
            <h4><strong>○練習会詳細画面</strong></h4>
            <p>詳細画面では<i class="fas fa-road">走行距離</i>や<i class="fas fa-exclamation-triangle">参加条件</i>が確認できます。</p>
            <p><i class="fas fa-map-marked-alt">集合場所</i>もGoogle Mapで確認できます！</p>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="top_title">
      <h1 class="display-1">Ride on</h1>
      <h2 class="display-6 top_text">気軽にサイクリング仲間とマッチングできるアプリです。</h2>
      <h3 class="display-6 top_text">あなたがガイドになってお気に入りのコースを案内したり</h3>
      <h3 class="display-6 top_text">地域のライドを探して参加することもできます！</h3>
      <h2 class="display-6 top_text"><u>Ride onの簡単な使い方</u></h2>
      <div class="dis_img_container">
      <table>
        <tr>
          <td><i class="fas fa-map-marked-alt fa-9x dis_img_one"></i>
          <td><i class="fas fa-users fa-9x dis_img_one"></i>
          <td><i class="fas fa-bicycle fa-9x dis_img_one"></i>
        </tr>
        <tr>
          <td class="p_text top_text">まずはサイクリングを企画するか<br>参加したいライドを探しましょう<br> </td>
          <td class="p_text top_text">企画者は参加者を待ちます<br>参加希望の方は参加ボタン<br>を押しましょう</td>
          <td class="p_text top_text">あとは集合場所に集まって<br>サイクリングを楽しみましょう！</td>
        </tr>
      </table>
      </div>
    <a class="login_btn" href="/users/sign_in"><button type="button" class="btn btn-primary btn-lg btn-block login_btn">ログインする</button></a>
    <a href="/users/sign_in"><button type="button" class="btn btn-secondary btn-lg btn-block my-3">新規登録</button></a>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-warning btn-lg btn-block my-3", method: :post %>
  </div>
<% end %>
