<% if user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="top_title">
      <h1 class="display-1 top_text">Ride on</h1>
      <h2 class="display-6 top_text">サイクリストの練習会投稿アプリです。</h2>
      <p class="p_text top_text">簡単に練習会の参加や応募をすることができます。</p>
      <p class="p_text top_text">条件や力量を確認することができるので初見の方でも安心して参加しやすく、</p>
      <p class="p_text top_text">参加者の確認、Google Mapでの集合場所の確認、その場限りのトークができます。</p>
      <img src="/assets/new_ride.png" alt="投稿画面" width="300" height="380">

    </div>
  </div>
<% else %>
  <div class="container">
    <div class="top_title">
      <h1 class="display-1 top_text">Ride on</h1>
      <h3 class="p_text top_text">Ride onとは？</h3>
      <p class="p_text top_text">サイクリングの仲間を募るためのWebアプリです。</p>
      <p class="p_text top_text">日時と集合場所を投稿して仲間を集めたり投稿されたライドに参加することができます。</p>
      <p class="p_text top_text">さっそく登録して使ってみましょう！</p>
    </div>
    <a href="/users/sign_in"><button type="button" class="btn btn-primary btn-lg btn-block my-3">ログインする</button></a>
    <a href="/users/sign_in"><button type="button" class="btn btn-secondary btn-lg btn-block my-3">新規登録</button></a>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-warning btn-lg btn-block my-3", method: :post %>
    <img src="/assets/ride_index.png" alt="投稿したライド" width="300" height="450">
  </div>
<% end %>
