<% provide(:title, "Top Page") %>

<% if user_signed_in? %>
<div class="container">
  <div class="row">
    <div class="top_title">
      <h1 class="display-1 top_text">Ride on</h1>
      <h2 class="display-6 top_text">サイクリストの練習会投稿アプリです。</h2>
      <p class="p_text top_text">簡単に練習会の参加や応募をすることができます。</p>
      <p class="p_text top_text">条件や力量を確認することができるので初見の方でも安心して参加しやすく、</p>
      <p class="p_text top_text">参加者の確認、Google Mapでの集合場所の確認、その場限りのトークができます。</p>

      <div class="bg-w-content">
        <div class="app_contents row mt-5">
          <img class="top_img" src="/assets/ride_post.png" alt="投稿画面" width="520" height="270">
          <div class="app_discript">
            <h4><strong>○まずは練習会を投稿しよう！</strong></h4>
            <p>タイトル、開催予定日時、条件、メッセージを入力して投稿！</p>
          </div>
        </div>
        <hr>
        <div class="app_contents row mt-5">
          <img class="top_img" src="/assets/rideindex.png" alt="投稿画面" width="520" height="270">
          <div class="app_discript">
            <h4><strong>○開催予定の練習会が一覧で見れます</strong></h4>
            <p>条件に合う練習会があれば<i class="fas fa-user-plus fa-2x "></i>ボタンを押して参加表明しましょう。</p>
          </div>
        </div>
        <hr>
        <div class="app_contents row mt-5">
          <img class="top_img" src="/assets/rideshow.png" alt="投稿画面" width="520" height="270">
          <div class="app_discript">
            <h4><strong>○詳細画面では参加者同士でトーク可能</strong></h4>
            <p>開催場所や参加者の確認、参加者同士のトークができます。</p>
            <p>開催場所や参加者の確認、参加者同士のトークができます。</p>
          </div>
        </div>
      </div>

    </div>
  </div>
<% else %>
  <div class="container">
    <div class="top_title">
      <h1 class="display-1 top_text">Ride on</h1>
      <h2 class="display-6 top_text">サイクリストの練習会投稿アプリです。</h2>
      <p class="p_text top_text">簡単に練習会の参加や応募をすることができます。</p>
      <p class="p_text top_text">条件や力量を確認することができるので初見の方でも安心して参加しやすく、</p>
      <p class="p_text top_text">参加者の確認、Google Mapでの集合場所の確認、その場限りのトークができます。</p>
    </div>
    <a href="/users/sign_in"><button type="button" class="btn btn-primary btn-lg btn-block my-3">ログインする</button></a>
    <a href="/users/sign_in"><button type="button" class="btn btn-secondary btn-lg btn-block my-3">新規登録</button></a>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-warning btn-lg btn-block my-3", method: :post %>
  </div>
<% end %>
