// @import "bootstrap-sprockets";
@import "bootstrap";

// 1vw可変フォント

.extention {
  font-size: 1vw;
}

.alert {
  margin-bottom: 0 !important;
}

// トップページ
.top_title {
  font-family: 'Oswald', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8%;
  h1 {
    color: #ffffff;
  }
  h2 {
    font-size: 36px;
  }
  .top_text {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
  }
  .p_text {
    font-size: 20px;
  }
}

.login_btn {
  margin-top: 50px;
}

.bg-w-content {
  background-color: white;
  padding: 3px 40px;
  border-radius: 8px;
  margin: 40px 0;
}

tr {
  text-align: center;
}

.top_dis_img {
  border-radius: 8px;
  margin-left: 30px;
}

.dis_img_one {
  width: 350px;
  display: inline-block;
  color: white;
}

.top_img {
  border-radius: 8px;
}

.app_contents_img {
  width: 400px;
}

.app_discript {
  margin-top: 10px;
  h4 {
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
  }
}

.posting {
  font-size: 20px !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px;
  }
}

// current_userのトップ画面
.user_top_card {
  margin: 320px 0 0 150px !important;
}

// ユーザー一覧
.users_st {
  list-style: none;
  padding: 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

// ride投稿画面
.new_ride_form {
  padding: 50px 0 100px;
  border-radius: 8px;
  width: 90% !important;
  margin: 0 auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }

// ライド一覧
.bg_wtext {
  color: #ffffff;
}

// users_show
.mypage_card {
  margin-top: 50px;
}

.mypage_microposts {
  margin-top: 50px;
}

.j_icon {
  padding: 5px;
  border-radius: 4px;
  float: right;
}

.fa-users {
  padding: 4px;
}

.rides_index {
  border-radius: 8px;
  max-width: 90%;
  height: 900px;
}

.position-static {
  posotion: relative;
}

.btn_group {
  position: absolute;
  bottom: 30px;
}

// ライド詳細画面

.message_to_r {
  margin: 0 5%;
  width: 90% !important;
}

.message_btn {
  margin-right: 5%;
  margin-bottom: 100px;
}

.message_posts {
  margin: 0 5%;
}

.ride_containts {
  margin: 0 5%;
  h5 {
    font-size: 32px;
  }
  .ride_poster {
    background-color: lightgray;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .ride_details {
    display: flex;
    justify-content:center;
    width     : 100%;
    flex-direction:row;
  }

  .distance_mark {
    width: 500px;
    height: 50px;
    padding: 5px 3px;
    border-radius: 8px;
    font-size: 24px;
    margin-right: 5px;
    text-align: center;
  }
  .rank_mark {
    height: 50px;
    padding: 5px 3px;
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
    width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .ride_details {
    flex-direction: column;
    align-content:space-around;
  }
  .destance_mark .rank_mark {
   width:100%;
  }
  .destance_mark:nth-child(1){
       order: 2;
  }
  .rank_mark:nth-child(2){
       order: 3;
  }
}

/* microposts */
.microposts {
  list-style: none;
  padding: 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
    color: black;
    font-size: 24px;
    margin-right: 8px;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;

  input {
    border: 0;
  }
}
// follow/follower機能
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    color: gray;

    &:first-child {
      padding-left: 0;
      border: 0;
    }

    &:hover {
      text-decoration: none;
      color: blue;
    }
  }

  strong {
    display: block;
  }
}
