// @import "bootstrap-sprockets";
@import "bootstrap";

.alert {
  margin-bottom: 0 !important;
}

// 新規登録画面

.go_login {
  margin-left: 80px;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .go_login {
    margin-left: 40px;
    font-size: 16px;
  }
}

// トップページ

.top_user_show {
  width: 400px;
  display: inline-block;
  h5 {
    display:block !important;
  }
}

.top_user_card {
  height: 220px;
}

.top_user_join_rides {
  background-color: #ffffff;
}

.top_user_join_ride {
  font-size: 18px;
  a {
    color: black;
  }
}

.top_user_join_ride_btn {
  float: right;
}

.home_search_area {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.card-img-top {
  width: 40px !important;
  height: 40px !important;
  float: right;
}

.top_title {
  font-family: 'Oswald', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3%;
  h1 {
    color: #ffffff;
  }
  h2 {
    font-size: 36px;
  }
  .top_text {
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
  }
  .p_text {
    font-size: 20px;
  }
}

.login_btn {
  margin-top: 50px;
}

.icon_only_sm {
  display: none;
}

.bg-w-content {
  background-color: white;
  padding: 3px 40px;
  border-radius: 8px;
  margin: 40px 0;
}

tr {
  text-align: center;
}

.top_dis_img {
  border-radius: 8px;
  margin-left: 30px;
}

.dis_img_one {
  width: 350px;
  display: inline-block;
  color: white;
}

.dis_img_container {
  margin-top: 50px;
}

.top_img {
  border-radius: 8px;
}

.app_contents_img {
  width: 400px;
}

.app_discript {
  margin-top: 10px;
  h4 {
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
  }
}

.posting {
  font-size: 20px !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.logging_user_photo {
  margin-right: 20px;
}

@media screen and (max-width: 576px) {
  .top_title {
    font-family: 'Oswald', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 4%;
    h1 {
      color: #ffffff;
    }
    h2,h3{
      font-size: 14px;
      font-weight: bold;
    }
    table {
      display: none;
    }
    .top_text {
      color: #ffffff;
      text-align: center;
      margin-top: 20px;
    }
    .p_text {
      font-size: 12px;
    }
  }

  .col-5 {
    flex: initial !important;
    max-width: initial !important;
    margin: 0 4%;
  }

  .top_user_card {
    display: none !important;
  }
}


// current_userのトップ画面
.user_top_card {
  margin: 320px 0 0 150px !important;
}

// ユーザー一覧
.users_st {
  list-style: none;
  padding: 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.table {
  th {
    text-align: left;
  }
}

#myTable {
  td {
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .name_user {
    width: 70%;
  }
  .email_user {
    display: none;
  }
}

// ユーザー詳細画面
.user_show_container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 0;
}

.user_show_stats {
  margin-bottom: 120px;
}

.user_edit_btn {
  margin-top: 20px;
}

.show_introduce {
  padding: 30px 0;
}

// ride投稿画面
.new_ride_form {
  padding: 20px 0 30px;
  border-radius: 8px;
  width: 650px !important;
  // margin: 0 auto !important;
  h1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 576px) {
  .new_ride_form {
    padding: 20px 0 30px;
    border-radius: 8px;
    width: 360px !important;
    // margin: 0 auto !important;
    h1 {
      font-size: 24px;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }

// ライド一覧

.rides_card {
  .star {
    color: black !important;
  }
}

.search_containts {
  p {
    margin: 0;
  }
  .search_pref {
    color: #ffffff;
  }
  .search_box {
    margin-bottom: 20px;
  }
}

.rides_search_area {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.rides_container {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;
}

.bg_wtext {
  color: #ffffff;
}

.rides_card {
  background-color: #ffffff;
  border-radius: 8px;
}

.card-body {
  h5 {
    display: inline-block;
  }
  .ride_index_prefecture {
    margin-left: 8px;
  }
}

.ride_index_guide {
  display: inline-block;
}

.user_link {
    color: black;
    &:hover {
      opacity: 0.7;
      color: black;
    }
}

// 参加マーク
.join_ride {
  margin-left: 8px;
  i {
    padding: 5px;
  }
}

// ユーザー詳細画面
.mypage_card {
  margin-top: 50px;
}

.mypage_microposts {
  margin-top: 50px;
}

.j_icon {
  margin-top: 3px;
  padding: 10px 10px 10px 10px !important;
  // border-radius: 4px;
}

.fa-users {
  padding: 4px;
}

.rides_index {
  border-radius: 8px;
  max-width: 90%;
  height: 900px;
}

.position-static {
  posotion: relative;
}

.btn_group {
  position: absolute;
  bottom: 30px;
}

@media screen and (max-width: 576px) {
  .user_show_follow {
    h1 {
      font-size: 32px;
    }
    .name_user {
      width:70%;
    }
    .email_user {
      display: none;
    }
  }
}

// ライド投稿

.ride_show_container {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20px;
  padding-bottom: 20px;
}

.input_form_container {
  margin-left: 50px !important;
}

// ライド詳細画面

.message_to_r {
  margin: 0 5%;
  width: 90% !important;
}

.message_btn {
  margin-right: 5%;
  margin-bottom: 100px;
}

.message_posts {
  margin: 0 5%;
}

.ride_containts {
  margin: 0 5%;
  h5 {
    font-size: 32px;
  }
  .ride_poster {
    background-color: lightgray;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .ride_details {
    display: flex;
    // justify-content:center;
    // width     : 100%;
    // flex-direction:row;
  }

  .distance_mark {
    width: 150px;
    height: 80px;
    padding: 5px 3px;
    border-radius: 8px;
    font-size: 24px;
    margin-right: 5px;
    text-align: center;
  }

  .rank_mark {
    height: 80px;
    padding: 5px 3px;
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
    width: 150px;
    margin-right: 5px;
  }

  .rule_mark {
    height: 80px;
    padding: 5px 3px;
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
    width: 200px;
  }
}

.ride_map {
  margin: 0 auto;
}

.ride_show_paginate {
  margin-left: 50px;
}

@media screen and (max-width: 576px) {
  .ride_show_container {
    h5 {
      font-size: 20px;
      padding: 15px 0;
    }
  }
  .ride_details {
    // flex-direction: column;
    align-content:space-around;
  }
  .distance_mark, .rank_mark {
   font-size: 14px !important;
   height: 50px !important;
   width: 100px !important;
   font-weight: bold;
  }
  .destance_mark:nth-child(1){
       order: 2;
  }
  .rank_mark:nth-child(2){
       order: 3;
  }
}

/* microposts */
.microposts {
  list-style: none;
  padding: 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
    color: black;
    font-size: 24px;
    margin-right: 8px;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;

  input {
    border: 0;
  }
}
// follow/follower機能
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    color: gray;

    &:first-child {
      padding-left: 0;
      border: 0;
    }

    &:hover {
      text-decoration: none;
      color: blue;
    }
  }

  strong {
    display: block;
  }
}
